:root {
    --dark-cyan-clr: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%);
    --white-clr: #ffff;
    
    --ff-primary: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-size: 1.125rem;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: var(--dark-cyan-clr);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bg {
    position: absolute;
    bottom: 35%;
    right: 53%;
}

.bottom-bg {
    position: absolute;
    left: 50%;
    top: 48%;
}

.card {
    width: 21.875rem;
    height: 23.375rem;
    background-color: var(--white-clr);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10000;
}

.banner-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10000;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid var(--white-clr);
    margin-top: -3.4375rem;
}

.name {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
    margin-top: 0.9rem;
    padding-right: 0.3rem;
}

.age {
    position: relative;
    left: 5px; 
    font-weight: 400;
    color: var(--dark-grayish-blue); 
}

.city {
    font-size: .875rem;
    color: var(--dark-grayish-blue);
    margin-top: 0.5rem;
}

hr {
    width: 100%;
    height: 1px;
    color: var(--dark-grey);
    opacity: 0.2;
    margin: 1.4rem 0 1.4rem 0;
}

.stats {
    display: flex;
    margin-left: -0.8rem;
}

.stats-component {
    display: flex;
    flex-direction: column;
}

.stats-component + .stats-component {
    padding-left: 3rem;
}

.stats-number {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    color: var(--very-dark-desaturated-blue);
}

.stats-text {
    font-size: .6rem;
    letter-spacing: 2px;
    color: var(--dark-grayish-blue);
}

/* Mobile version */
/* 375px mobile */
@media only screen and (max-width: 23.4375rem) {
    .card, .banner-img {
        width: 20rem;
    }   
}

/* 320px mobile */
@media only screen and (max-width: 20rem) {
    .card, .banner-img {
        width: 18rem;
    }  
    
    .card {
        height: 22rem;
    }
}